@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}

hr{
  width: 32px;
}

.outer-box{
  width: 40%;
}

.inner-box{
  width: 75%;
}

.box1-url{
  width: 33.33%;
}

.box2-url{
  width: 66.67%;
}

@media screen and (max-width: 600px){
  hr{
    width: 16px;
  }

  .outer-box{
    width: 75%;
  }
  input{
    font-size: small;
  }
  .url-box{
    font-size: small;
  }
  .inner-box{
    width: 100%;
  }

  .box1-url{
    width: 50%;
  }

  .box2-url{
    width: 50%;
  }
}